body {
  padding: 30px;
  font-family: sans-serif;
  background-color: #ffffcc
}

h1, h2 {
  text-align: center;
  color: #cc33ff;
}

img {
  padding: 10px;
}

button {
  background-color: #cc33ff;
  border: 5px solid #ffffcc;
  border-radius: 15px;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  border: 5px solid #660066;
  color: #660066;
  border-radius: 25px;
}
.hrstyle {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #cc33ff;
  margin: 1em 0;
  padding: 0;
}

.musicPlayerBox, .musicListBox{    
  text-align: center;
}

.Box{
  width: 50%;
  float: left;
}

.parentMusicList{
  display: inline-block;
}
